body {
}

.header {
  background-color: darkgrey;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cen {
  text-align: center;
}
.inner {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
img {
  width: 80%;
}

ul {
  padding-left: 40%;
  padding-right: 20%;
}
li {
  padding-bottom: 10px;
}

.last {
  padding-left: 40%;
  padding-right: 20%;
}
